# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
src/Resources/public/uploads/*
src/Resources/public/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
/.idea
/composer.lock
